{% extends 'base.html.twig' %}

{% block title %}Origin{% endblock %}

{% block body %}
    <h1 class="h1-Admin">Origin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ origin.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ origin.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('origin_index') }}">back to list</a>

    <a href="{{ path('origin_edit', {'id': origin.id}) }}">edit</a>

    {{ include('origin/_delete_form.html.twig') }}
{% endblock %}
