{% extends 'layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">Cette identifiant n'est pas valide</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté comme {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <h1 class="h1-User mb-3">Se connecter</h1>
        <label for="inputUsername">Identifiant</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
               class="form-control field-input" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="password" name="password" id="inputPassword" class="form-control field-input" required>
        <p class="mt-3">
            <a class="forget-password" href="{{ path('resetpassword_request') }}">Mot de passe oublié ?</a>
        </p>
        <div class="button-connexion">
            <button class="btn btn-secondary" type="submit">
                Connexion
            </button>
        </div>
    </form>
{% endblock %}
