{% extends 'base.html.twig' %}

{% block title %}Bring index{% endblock %}

{% block body %}
    <h1>Bring index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Calories</th>
            <th>Ratio Proteines Calorie</th>
            <th>Proteines</th>
            <th>Lipides</th>
            <th>Cendres</th>
            <th>Fibres</th>
            <th>Humidités</th>
            <th>Glucides</th>
            <th>Calciums</th>
            <th>Phosphores</th>
            <th>Rapport Phosphores Calciums</th>
            <th>Omega 6</th>
            <th>Omega 3</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for bring in brings %}
            <tr>
                <td>{{ bring.calorie }}</td>
                <td>{{ (bring.protein  /  bring.calorie * 10)|round }}</td>
                <td>{{ bring.protein }}</td>
                <td>{{ bring.lipid }}</td>
                <td>{{ bring.ashe }}</td>
                <td>{{ bring.fiber }}</td>
                <td>{{ bring.humidity }}</td>
                <td>{{ bring.carbohydrate }}</td>
                <td>{{ bring.calcium }}</td>
                <td>{{ bring.phosphorus }}</td>
                <td> {{ bring.calcium / bring.phosphorus }}</td>
                <td>{{ bring.omega6 }}</td>
                <td>{{ bring.omega3 }}</td>
                <td>
                    <a href="{{ path('bring_show', {'id': bring.id}) }}">show</a>
                    <a href="{{ path('bring_edit', {'id': bring.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-secondary"><a href="{{ path('bring_new') }}">Ajouter un apport</a></button>
{% endblock %}
