{% extends 'base.html.twig' %}

{% block title %}Bring{% endblock %}

{% block body %}
    <h1>Bring</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Calories</th>
                <td>{{ bring.calorie }}</td>
            </tr>
            <tr>
                <th>Ratio Protido-Calorique</th>
                <td>{% if bring.calorie != 0 %} {{ (bring.protein  /  bring.calorie * 10)|round }}
                {% endif %}</td>
            </tr>
            <tr>
                <th>Proteines</th>
                <td>{{ bring.protein }}</td>
            </tr>
            <tr>
                <th>Lipides</th>
                <td>{{ bring.lipid }}</td>
            </tr>
            <tr>
                <th>Cendres</th>
                <td>{{ bring.ash }}</td>
            </tr>
            <tr>
                <th>Fibres</th>
                <td>{{ bring.fiber }}</td>
            </tr>
            <tr>
                <th>Humidités</th>
                <td>{{ bring.humidity }}</td>
            </tr>
            <tr>
                <th>Glucides</th>
                <td>{{ bring.carbohydrate }}</td>
            </tr>
            <tr>
                <th>Calciums</th>
                <td>{{ bring.calcium }}</td>
            </tr>
            <tr>
                <th>Phosphores</th>
                <td>{{ bring.phosphorus }}</td>
            </tr>
            <tr>
                <th>Rapport Phosphocalcique</th>
                <td>{% if bring.phosphorus !=0 %} {{ bring.calcium / bring.phosphorus }}
                    {% endif %}</td>
            </tr>
            <tr>
                <th>Omega 6</th>
                <td>{{ bring.omega6 }}</td>
            </tr>
            <tr>
                <th>Omega 3</th>
                <td>{{ bring.omega3 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bring_index') }}">back to list</a>

    <button class="btn btn-secondary m-1"><a
                href="{{ path('bring_edit', {'id': bring.id}) }}">Modifier</a></button>

    {{ include('bring/_delete_form.html.twig') }}
{% endblock %}
