{% extends 'admin/index.html.twig' %}

{% block title %}NutrientType{% endblock %}

{% block body %}
    <h1 class="h1-Admin">NutrientType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nutrient_type.id }}</td>
            </tr>
            <tr>
                <th>Nutrient</th>
                <td>{{ nutrient_type.nutrient }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nutrient_type_index') }}">back to list</a>

    <a href="{{ path('nutrient_type_edit', {'id': nutrient_type.id}) }}">edit</a>

    {{ include('/admin/nutrient_type/_delete_form.html.twig') }}
{% endblock %}
