{% extends 'base.html.twig' %}

{% block title %}Food{% endblock %}

{% block body %}
    <h1>Food</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ food.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ food.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ food.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('food_index') }}">back to list</a>

    <a href="{{ path('food_edit', {'id': food.id}) }}">edit</a>

    {{ include('food/_delete_form.html.twig') }}
{% endblock %}
