{% extends 'admin/index.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <h1>{{ animal.name | title }}</h1>

    <div class="card mb-3 margeHome">
        <div class="row no-gutters">
            <div class="col-md-4 image">
                <img src="{{ asset( '/build/'~animal.image ) }}" class="card-img"
                     alt="picture of {{ animal.name }}">
            </div>
            <div class="col-md-8 text">
                <div class="card-body textcard">
                    <h2 class="card-title">{{ animal.name | title }}</h2>
                    <p>
                        <a href="{{ path('animal_edit', {'id': animal.id}) }}">Editer</a>
                    </p>
                    <p class="card-text">
                        {{ animal.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('animal_index') }}">Retour</a>
{% endblock %}
