{% extends 'layout.html.twig' %}
{% block title %}Foire aux questions{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1 class="h1-User">Foire aux questions</h1>
        <div class="box-faq">
            {% for faq in faqs %}
              <a class="link-faq-collapse" data-toggle="collapse" href="#collapse{{ faq.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ faq.id }}">
                <p class="txt-question-faq">
                    <i class="far fa-eye"></i>
                    {{ faq.question }}
                </p>
              </a>
                <div class="collapse" id="collapse{{ faq.id }}">
                    <div class="card card-body faq-public">
                        <p class="txt-answer-faq">{{ faq.answer }}</p>
                    </div>
                </div>
            {% else %}
                <p>Pas de questions trouvés</p>
            {% endfor %}
        </div>
    </div>


{% endblock %}