{% extends 'layout_admin.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1 class="h1-Admin user-title">Utilisateur {{ user.username }}</h1>

    <table class="table-admin">
        <thead class="header-table-admin">
            <tr>
                <th>Identifiant</th>
                <th>Email</th>
                <th colspan="2"></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="body-table-admin">
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td colspan="2">
                    <a href="{{ path('user_index') }}">
                        <button class="btn btn-secondary">← Retour à la liste
                        </button>
                    </a>
                </td>
                <td>
                    {{ include('/admin/users/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
