{% extends 'admin/index.html.twig' %}

{% block title %}Liste ingrédients{% endblock %}

{% block body %}
    <h1 class="h1-Admin">Liste des ingrédients</h1>

    <div class="admin-search-container">
        {{ form_start(form, {'method': 'GET'}) }}
        {{ form_widget(form) }}
        <button class="btn btn-secondary mb-3 ml-1">{{ button_label|default('Rechercher') }}</button>
        {{ form_end(form) }}
    </div>

    <a href="{{ path('ingredient_new') }}"><button class="btn btn-secondary mb-4">Ajouter un nouvel ingrédient</button></a>

    <table class="table-admin">
        <thead class="header-table-admin">
            <tr>
                <th>Nom</th>
                <th>Type précisé</th>
                <th>Morceau précisé</th>
                <th>Note</th>
                <th>Origine</th>
                <th>Forme</th>
                <th>Type de nutriment</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="body-table-admin">
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.precisedType ? 'Oui' : 'Non' }}</td>
                <td>{{ ingredient.precisedPart ? 'Oui' : 'Non' }}</td>
                <td>{{ ingredient.note }}</td>
                <td>{{ ingredient.origin.name ?? 'Non précisée'}}</td>
                <td>{{ ingredient.shape.name ?? 'Non précisée'}}</td>
                <td>{{ ingredient.nutrientType.nutrient ?? 'Non précisée'}}</td>
                <td>
                    <a href="{{ path('ingredient_edit', {'id': ingredient.id}) }}"><button class="btn btn-secondary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune données trouvées</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {{ knp_pagination_render(ingredients) }}
{% endblock %}
