{% extends 'layout.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="header-user-product">
        <h1 class="h1-User">Tous les produits</h1>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="filter-container">
                {{ form_start(formfilter,{'method': 'GET'}) }}
                {{ form_widget(formfilter) }}
                <button class="btn btn-secondary w-100">
                    <i class="fas fa-search"></i> {{ button_label|default('Rechercher') }}
                </button>
                {{ form_end(formfilter) }}
            </div>
        </div>
        <div class="col-9">
            <div class="container-user-product">
                <div class="all-card-user-product">
                    {% for product in products %}
                        <div class="card card-product-user bg-light mb-3">
                            <div class="card-header card-header-user">{{ product.reference }}</div>
                            <div class="card-body">
                                <div class="card-item">
                                    {% if  product.image is not null %}
                                        <img src="{{ vich_uploader_asset(product, 'imageFile') }}"
                                             class="card-img product-img" alt="{{ product.reference }}">
                                    {% else %}
                                        <img src="{{ asset('build/placeholder_nutrition.png') }}"
                                             class="card-img product-img" alt="{{ product.reference }}">
                                    {% endif %}
                                    <p class="card-note">{{ product.note }}/20</p>
                                </div>
                                <div class="card-item">
                                    <p>{{ product.animal.name }}</p>
                                    <p>{{ product.brand.name }}</p>
                                    <p>{{ product.food.type }}</p>
                                </div>
                            </div>
                            <div class="btn-product">
                                <a class="btn btn-secondary" href="{{ path('product_show', {'id': product.id}) }}"
                                   role="button">
                                    <i class="far fa-eye"></i> Plus d'infos
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <p>Pas de produits trouvés</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ knp_pagination_render(products) }}
{% endblock %}
