{% extends 'layout.html.twig' %}

{% block body %}
    <div class="header-user-product">
        <h1 class="h1-User">Tous les produits</h1>
    </div>
    <div class="row">
        <div class="container-filter">
                <div class="flex-column">
                    {{ form_start(formfilter,{'method': 'GET'}) }}
                    {{ form_widget(formfilter) }}
                    <button class="btn btn-secondary w-100">{{ button_label|default('Rechercher') }}</button>
                    {{ form_end(formfilter) }}

                </div>
            </div>
        </div>
        <div class="container-user-product">
            <div class="all-card-user-product">
                {% for product in products %}
                    <div class="card card-product-user bg-light mb-3">
                        <div class="card-header card-header-user">{{ product.reference }}</div>
                        <div class="card-body">
                            <p>{{ product.animal.name }}</p>
                            <p>Marque : {{ product.brand.name }}</p>
                            <p>Type : {{ product.food.type }}</p>
                            <a href="{{ path('product_show', {'id': product.id}) }}">
                                <button type="button" class="btn btn-secondary">Plus d'infos</button>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <p>Pas de produits trouvés</p>
                {% endfor %}
            </div>
        </div>
        {{ knp_pagination_render(products) }}
{% endblock %}
