{% extends 'layout.html.twig' %}

{% block title %}Evaluation Produit{% endblock %}

{% block body %}
    <h1 class="h1-Admin">Evaluation pour votre {{ product.animal.name }}</h1>
    <a href="{{ path('product_index') }}">
        <button type="button" class="btn btn-secondary">← Retourner à la liste de produit</button>
    </a>
    <a href="{{ path('product_pdf', {id : product.id}) }}">PDF</a>
    <div class="container-evaluation">
        <div class="header-evaluation">
            <div class="image-evaluation">
                {% if  product.image is not null %}
                    <img src="{{ vich_uploader_asset(product, 'imageFile') }}"
                         class="card-img product-img" alt="{{ product.reference }}">
                {% else %}
                    <img src="{{ asset('build/PlaceholderCroquette.jpeg') }}"
                         class="card-img product-img" alt="{{ product.reference }}">
                {% endif %}
                <img alt="image code barre" src="https://via.placeholder.com/150">
            </div>
            <div class="value-evaluation">
                <div class="product-reference">{{ product.reference }}
                    <p class="bring-evaluation">
                        Protéines : {{ product.bring.protein }} </br>
                        Lipides : {{ product.bring.lipid }} </br>
                        Cendres : {{ product.bring.ash }} </br>
                        Fibres : {{ product.bring.fiber }} </br>
                        Humidité {{ product.bring.humidity }} </br>
                        Glucides : {{ product.bring.carbohydrate }}
                    </p>
                </div>
                <div class='graph-evaluation' id="graph-bring"
                     data-graph='{{ product.bring.protein }},
                             {{ product.bring.lipid }},
                             {{ product.bring.ash }},
                             {{ product.bring.fiber }},
                             {{ product.bring.humidity }},
                             {{ product.bring.carbohydrate }}'>
                    <canvas id="canvas" class="canvas" width="600" height="400">
                        No Love for HTML5 eh?
                    </canvas>
                </div>
            </div>
        </div>
        <div class="ingredients-evaluation">
            {% for composition in product.compositions %}
                <p class="ingredient-title">Ingredient {{ loop.index }} {% if composition.percentage is not null  %}
                        ({{ composition.percentage }}%) {% endif %}</p>
                <div>
                    <p>{{ composition.ingredient.name }}</p>
                    <p>{{ composition.ingredient.nutrientType.nutrient }} {{ composition.ingredient.origin.name }}</p>
                    <p>
                        {% if composition.ingredient.note < 10 %}
                            <a class="bad">Mauvais</a>
                        {% elseif composition.ingredient.note <=15 %}
                            <a class="medium">Moyen</a>
                        {% else %}
                            <a class="good">Bon</a>
                        {% endif %}

                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="note-evaluation">
            <p class="note">{{ product.note | round }} </p>
            <div class="">
                <p class="titre">Note Global</p>
                <p>Basée sur la qualité des ingrédients</br>et de la compostion analytique</p>
            </div>
        </div>
        <div class="recommendation-evaluation">

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('graph') }}
{% endblock %}
