<nav class="navbar navbar-admin navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand-admin" href="{{ path('admin_index') }}">Administrateur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-item-container-admin" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="{{ path('animal_index') }}">Animal</a>
            </li>
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="{{ path('admin_product_index') }}">Produit</a>
            </li>
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="{{ path('nutrient_index') }}">Nutrition</a>
            </li>
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="{{ path('ingredient_index') }}">Ingredients</a>
            </li>
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="{{ path('article_index') }}">Blog</a>
            </li>
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="{{ path('user_index') }}">Utilisateur</a>
            </li>
           <!-- <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="{{ path('other_tables_index') }}">Autres tables</a>
            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Autres tables
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item nav-link" href="{{ path('faq_index') }}">FAQ</a>
                    <a class="dropdown-item nav-link" href="{{ path('brand_index') }}">Marques</a>
                    <a class="dropdown-item nav-link" href="{{ path('origin_index') }}">Origines</a>
                    <a class="dropdown-item nav-link" href="{{ path('shape_index') }}">Morceaux</a>
                    <a class="dropdown-item nav-link" href="{{ path('nutrient_type_index') }}">Nutriments</a>
                    <a class="dropdown-item nav-link" href="{{ path('food_index') }}">Aliments</a>
                </div>
            </li>
            <li class="nav-item nav-item-admin">
                <a class="nav-link-admin" href="{{ path('home_index') }}">Retour au site</a>
            </li>
        </ul>
        <div class="connexion-admin">
            {% if app.user %}
                <a class="nav-item nav-link-admin">{{ app.user.username }}</a>
                <a class="nav-item nav-link-admin" href="{{ path('app_logout') }}">Se déconnecter</a>
            {% endif %}
        </div>
    </div>
</nav>
