{% extends 'admin/index.html.twig' %}

{% block title %}Autres tables{% endblock %}

{% block body %}
    <div class="flex-column text-center">
        <h1 class="h1-Admin">Autres tables à modifier</h1>
        <div class="box-admin-other-tables">
            <table class="table-admin">
                <thead class="header-table-admin">
                <tr>
                    <th>Nom de la table</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="body-table-admin">
                    <tr>
                        <td>Foire aux questions</td>
                        <td>
                            <a href="{{ path('faq_index') }}">
                                <button class="btn btn-secondary">accéder au formulaire</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Marques</td>
                        <td>
                            <a href="{{ path('brand_index') }}">
                                <button class="btn btn-secondary">accéder au formulaire</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Origine</td>
                        <td>
                            <a href="{{ path('origin_index') }}">
                                <button class="btn btn-secondary">accéder au formulaire</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Morceaux</td>
                        <td>
                            <a href="{{ path('shape_index') }}">
                                <button class="btn btn-secondary">accéder au formulaire</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Type de nutriments</td>
                        <td>
                            <a href="{{ path('nutrient_type_index') }}">
                                <button class="btn btn-secondary">accéder au formulaire</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Aliments</td>
                        <td>
                            <a href="{{ path('food_index') }}">
                                <button class="btn btn-secondary">accéder au formulaire</button>
                            </a>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
{% endblock %}