{% extends 'layout.html.twig' %}
{% block title %}Nous contacter{% endblock %}
   {% block body %}
      <h1 class="h1-contact">Nous contacter</h1>

      <div class="box-form-contact">
         {{ form_start(form) }}

         <div class="row">
            {{ form_row(form.firstname) }}
         </div>
         <div class="row">
            {{ form_row(form.lastname) }}
         </div>
         <div class="row">
            {{ form_row(form.mail) }}
         </div>
         <div class="row">
            {{ form_row(form.subject) }}
         </div>
         <div class="row">
            {{ form_row(form.message) }}
         </div>
         <div class="button-contact-form">
            <button class="btn btn-secondary mb-1">Envoyer</button>
         </div>
          {{ form_end(form) }}
      </div>
   {% endblock %}

