<nav class="navbar navbar-expand-lg navbar-light colornav sticky-top">
    <a class="navbar-brand" href="#"><img src="https://via.placeholder.com/50" alt="Logo carni-and-co" class="navbarLogo">CARNI & CO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav justify-content-between">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('product_index') }}">EVALUATION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('nutrition_index') }}">NUTRITION</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ALIMENTATION
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item nav-link" href="#">CROQUETTE</a>
                    <a class="dropdown-item nav-link" href="#">PATEE</a>
                    <a class="dropdown-item nav-link" href="#">RATION MENAGERE</a>
                    <a class="dropdown-item nav-link" href="#">RAW FEEDING (CRU)</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONSEILS SANTE</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    CONTACTS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item nav-link" href="#">FAQ</a>
                    <a class="dropdown-item nav-link" href="#">ESPACE PRESSE</a>
                    <a class="dropdown-item nav-link" href="#">QUI SOMMES-NOUS</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('blog_index') }}">BLOG</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                {% if app.user %}
                    {{ app.user.username }}
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                {% else %}
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a><a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
