<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{ asset('build/Logo carni.png') }}" />
        <title>{% block title %}Carni and Co{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible fade show">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <main class="container">
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
        {% block javascripts %}
        {% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
