{% extends 'admin/index.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <div class="flex-column text-center">
        <h1 class="h1-Admin">Article index</h1>

        <a href="{{ path('article_new') }}">
            <button class="btn btn-secondary mb-3 center-button"><i class="fas fa-plus"></i> Ajouter un article</button>
        </a>
        <table class="table-admin">
            <thead class="header-table-admin">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="body-table-admin">
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>{{ article.description | truncate(100, false, '...') }}</td>
                    <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ article.image }}</td>
                    <td>

                        <a href="{{ path('article_edit', {'id': article.id}) }}">
                            <button class="btn btn-secondary"><i class="fas fa-pen"></i> Modifier</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Pas d'article enregistré</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
