{% extends 'layout.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="h1-User">Blog</h1>
        {% if articles is defined %}
            {% for article in articles %}
                <div class="row col-lg-10 col-md-12 offset-lg-1 mt-3 ml-1">
                    <div class="col">
                        <div class="image_article">
                            <img class="media p-3 float-left" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}">
                        </div>
                        <h5 class="mt-0 article_title">{{ article.title }}</h5>
                        <p class="article">{{ article.description | truncate(300, true, '...') }}</p>
                        <p class="article_date">{{ article.date|date("d/m/Y") }}</p>
                        <div class="float-right">
                            <div class="button_article">
                                <a href="{{ path('blog_show', {'id': article.id}) }}">
                                    <button class="btn btn-secondary">Voir l'article complet.
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                Aucun article trouvé.
            {% endfor %}
        {% endif %}
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}

