{% extends 'layout_admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1 class="h1-Admin">Liste des utilisateurs</h1>

    <div class="admin-search-container">
        {{ form_start(form, {'method': 'GET'}) }}
        {{ form_widget(form) }}
        <button class="btn btn-secondary mb-3 ml-1">{{ button_label|default('Rechercher') }}</button>
        {{ form_end(form) }}
    </div>

    <a class="btn btn-secondary" href="{{ path('user_new') }}"><button class="btn btn-secondary">Ajouter un utilisateur</button></a>

    <table class="table-admin">
        <thead class="header-table-admin">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="body-table-admin">
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"><button class="btn btn-secondary mb-4">Voir</button></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn btn-secondary mb-4">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
