{% extends 'layout_admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1 class="h1-Admin">Liste des utilisateurs</h1>

    <a class="btn btn-secondary" href="{{ path('user_new') }}"><button class="btn btn-secondary">Ajouter un nouvel utilisateur</button></a>

    <table class="table-admin">
        <thead class="header-table-admin">
            <tr>
                <th>Identifiant</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="body-table-admin">
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"><button class="btn btn-secondary">Voir</button></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn btn-secondary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
