{% extends 'layout_admin.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1 class="h1-Admin">Utilisateur {{ user.username }}</h1>

    <table class="table-admin">
        <thead class="header-table-admin">
            <tr>
                <th>Identifiant</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="body-table-admin">
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn btn-secondary mb-4">Modifier</button></a>
                    <a href="{{ path('user_index') }}"><button class="btn btn-secondary mb-4">Retour à la liste</button></a>
                </td>
            </tr>
        </tbody>
    </table>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
