{% extends 'admin/index.html.twig' %}

{% block title %}Liste des animaux{% endblock %}

{% block body %}
    <div class="flex-column text-center box-title-animal">
        <h1 class="h1-Admin">Liste des animaux</h1>

        <a class="title_create" href="{{ path('animal_new') }}">
            <button class="btn btn-secondary"><i class="fas fa-plus"></i> Ajouter</button>
        </a>
        <table class="table-admin">
            <thead class="header-table-admin">
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="body-table-admin">
            {% for animal in animals %}
            <tr>
                <td>{{ animal.name }}</td>
                <td>{{ animal.description }}</td>
                <td>{{ animal.image }}</td>
                <td>
                    <a href="{{ path('animal_edit', {'id': animal.id}) }}">
                        <button class="btn btn-secondary"><i class="fas fa-pen"></i> Modifier</button>
                    </a>
                    <a href="{{ path('animal_show', {'id': animal.id}) }}">
                        <button class="btn btn-secondary"><i class="fas fa-pen"></i> voir</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        {% else %}
            <p>Aucun animal trouvé</p>
        {% endfor %}
    </div>
{% endblock %}
